# Supabase Connection
NEXT_PUBLIC_SUPABASE_URL=https://your-supabase-project.supabase.co
SUPABASE_SERVICE_ROLE_KEY=your-supabase-service-role-key-here

# Google Places API Key
GOOGLE_PLACES_API_KEY=your-google-places-api-key-here

# Base URL Aplikasi
NEXT_PUBLIC_BASE_URL=https://tapulas.vercel.app

# Master Secret Key Admin Dashboard
ADMIN_SECRET_KEY=your-admin-master-password-here
